<div class="modal fade" id="movieModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{selectedMovie?.title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img [src]="selectedMovie?.image" class="img-fluid mb-2" alt="{{selectedMovie?.title}}">
        <p><strong>Año:</strong> {{selectedMovie?.year}}</p>
        <p><strong>Género:</strong> {{selectedMovie?.genre}}</p>
        <p><strong>Sinopsis:</strong></p>
        <p>{{selectedMovie?.synopsis}}</p>
      </div>
    </div>
  </div>
</div>
